body, h1, h2, h3, h4, h5, h6 {
	font-family: Geneva, Verdana, sans-serif;
}

li {
	margin: 2%;
}

li::marker {
	color: darkgoldenrod;
  }

.card-size {
	padding: 5%;
	width: 60%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

.img-size {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 5%;
}

h1, h2 {
	color: #db9833
}

h3 {
	color: whitesmoke
}

th {
	color: #db9833
}

@media screen and (max-width: 1000px) {
	.card-size {
		margin: auto;
		width: 100%;
		border-radius: 0%;
	}
}